header{
    width: 100%;
    height: 150px;
    position: fixed;
    z-index: 5;
    padding: 43px 0px;
    box-sizing: border-box;
}
#mainHeader{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-end;
}
.search-modal-overlay {
    background-color: #DBE0DE;
    opacity: 70%;
    width: 100%;
    height: 100vh;
    z-Index: 10;
    position: fixed;
    top: 0;
    left: 0;
}
.search-modal-content {
    width: 450px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 57.5%;
    display: flex;
    padding-top: 20px;
    outline: none;
}
.search-modal-content >input{
    width: 400px;
    height: 40px;
    padding-top: 4px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 24px;
    background-color: transparent;
}
.search-modal-content >img{
    width: 40px;
    height: 40px;
}
#leftHeaderMenu,#rightHeaderMenu{
    width: 374px;
    padding: 16px 0px;
}
#leftHeaderMenu >ul{
    display: flex;
    gap: 51px;
    justify-content: flex-end;
}
#rightHeaderMenu >ul{
    display: flex;
    gap: 51px;
}
#leftHeaderMenu >ul >li,#rightHeaderMenu >ul >li{
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 16px;
    font-size: 13px;
    background-color: #DBE0DE;
    text-align: center;
    padding: 7px 14px;
    cursor: pointer;
}
#logo{
    width: 192px;
}
#logo >img{
    width: 192px;
    cursor: pointer;
}