#joinContainer{
    width: 651px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 100px;
    align-items: center;
}
#joinContainer input,#joinContainer button,#joinContainer select{
    border: 2px solid black;
}
#joinContainer >p{
    font-size: 20px;
}
#joinForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#joinForm >div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#idInput{
    height: 72px;
}
#pwInput,#pwCheckInput,#nameInput,.policyInput{
    height: 60px;
}
#mobileInput,#emailInput{
    height: 71px;
}
#joinForm input,#emailInputDiv :nth-child(4){
    height: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 12px;
}
#joinForm input[type=text],#joinForm input[type=password]{
    width: 500px;
}
#mobileInputDiv{
    width: 500px;
    display: flex;
    align-items: center;
    gap: 38.25px;
}
#mobileInputDiv >input[type=text]{
    width: 150px;
    text-align: center;
    
}
.validation{
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.validation >p{
    width: 450px;
    font-size: 14px;
    padding-top : 4px;
}
.validation >button{
    color: #ffffff;
    font-size: 16px;
    background-color: #000000;
    border-radius: 16px;
    width: 100px;
    height: 32px;
    cursor: pointer;
}
#smsAggrementDiv,#emailAggrementDiv{
    display: flex;
    gap: 8px;
    width: 178px;
    height: 23px;
    padding-left: 473px;
    padding-top: 8px;
}
#smsAggrementDiv >input[type=checkbox],#emailAggrementDiv >input[type=checkbox],.policyInputDiv2 >input[type=checkbox]{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 0px;
    cursor: pointer;
}
#smsAggrementDiv >label,#emailAggrementDiv >label,.policyInputDiv2 >label{
    cursor: pointer;
}
#emailInputDiv{
    width: 500px;
    display: flex;
    align-items: center;
    gap: 4.67px;
}
#emailInputDiv >p{
    width: 24px;
    text-align: center;
}
#emailInputDiv >input[type=text]{
    width: 150px;
}
#emailInputDiv :nth-child(4){
    width: 162px;
}
#emailAggrementDiv{
    width: 193px;
    padding-left: 458px;
}
.policyInputDiv1{
    display: flex;
    width: 100%;
    height: 23px;
    justify-content: space-between;
}
.policyInputDiv1 p:nth-child(2){
    font-size: 12px;
    cursor: pointer;
}
.policyInputDiv2{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
}
#joinForm >button{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 16px;
    color: #ffffff;
    background-color: #000000;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
#joinForm >button:disabled{
    color: #ffffff;
    background-color: #666666;
    cursor: not-allowed;
}