#profileContainer{
   width: 900px;
   padding-top: 30px;
}
#userProfileInfoDiv,#deliveryDiv,#csInfoDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 0px;
    border-top: 1px solid #000000;
    position: relative;
}
#deliveryDiv{
    border-bottom: 1px solid #000000;
}
#userProfileInfoBtnDiv{
    display: flex;
    justify-content: space-between;
}
#outBtnDiv,#addressBtnDiv{
    display: flex;
    gap: 8px;
}
#outBtnDiv >button,#addressBtnDiv >button{
    width: 90px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 16px;
    border: none;
    padding: 4px 10px;
}
#deliveryStatusDiv,#csListDiv{
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    padding: 8px;
} 
#deliveryStatusDiv{
    width: 900px;
}
tr{
    display: flex;
    align-items: center;
}
#deliveryStatusDiv td{
    width: 128px;
    text-align: center;
}
#deliveryStatusDiv img{
    width: 100px;
}
#deliveryStatusDiv thead >tr{
    height: 40px;
    border-bottom: 1px solid #c2c2c2;
}
.additionalAddressDiv{
    display: flex;
    gap: 8px;
    align-items: center;
}
.additionalAddressInputDiv >input{
    width: 200px;
    height: 24px;
    border-radius: 16px;
    border: 1px solid #000000;
    padding-left: 10px;

}
.additionalAddressInputDiv >input:nth-child(1){
    width: 100px;
}
.additionalAddressInputDiv ,.additionalAddressBtnDiv{
    display: flex;
    gap: 4px;
}
.additionalAddressBtnDiv {
    padding-left: 140px;
}
.additionalAddressBtnDiv >button{
    width: 60px;
    height: 28px;
    border-radius: 16px;
    border: none;
    background-color: #000000;
    color: #ffffff;
}