#shopContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}
#shopMenuList >ul{
    display: flex;
    gap: 32px;
    padding: 32px 0px 60px;
}
#shopMenuList >ul >li{
    cursor: pointer;
}
#productListDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 1198px;
}

#productInfoImgBox >img{
    width: 230px;
    cursor: pointer;
}
#productInfoPBox {
    text-align: center;
    padding: 0px;
}
#productInfoPBox >p{
    font-size: 13.5px;
    cursor: pointer;
}
