#shopContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 75px;
}
#shopMenuList >ul{
    display: flex;
    gap: 32px;
    padding: 32px;
}
#shopMenuList >ul >li{
    cursor: pointer;
}
#productListDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 1264px;
}
#productInfoImgBox{
    width: 240px;
    height: 262px;
    overflow: hidden;
}
#productInfoImgBox >img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
#productInfoPBox {
    text-align: center;
    padding: 0px;
}
#productInfoPBox >p{
    font-size: 14px;
    cursor: pointer;
}
