@font-face {
  font-family: "Source Code Pro";
  src: url("./font/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansKR-VariableFont";
  src: url("./font/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}
header{
  min-width: 1200px;
}
body {
  margin: 0;
  font-family: "Source Code Pro", "NotoSansKR-VariableFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1200px;
  min-height: 888px;
}
input{
  font-family: "NotoSansKR-VariableFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[type=checkbox]{
  accent-color: black;
}