@font-face {
  font-family: "NotoSansKR-VariableFont";
  font-weight: normal;
  src: url("./font/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: 'Source Code Pro', 'NotoSansKR-VariableFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main{
  padding-top: 65px;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 888px;
}